<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>hello magar</title>
</head>
<body>
  <h1>Good Evening Mr. {{uppercase name}}</h1>
  <p>{{welcome}}</p>
{{> header}}</body>
{{> footer}}
</html>
