<!DOCTYPE html>
<html>
<head>
  <title>Project Home</title>
</head>
<body>
  <H1>This is {{project}}</H1>
  <p>This is being created as an assignment</p>
  {{> project_home}}
</body>
{{> footer}}
</html>
